.dy-carousel {
    position: relative;

    .viewport {
        height  : 100%;
        width   : 100%;
        position: relative;
    }

    .dots {
        position       : absolute;
        bottom         : 20px;
        left           : 0;
        width          : 100%;
        display        : flex;
        justify-content: center;
    }

    .dots span {
        display    : inline-block;
        width      : 20px;
        height     : 6px;
        border-radius: 2px;
        background : #ccc;
        margin     : 5px;
        text-indent: -9999px;
        opacity    : 0.5;
        cursor     : pointer;

        &.active {
            opacity: 1;
        }
    }
    .arrow-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
}