.dy-date-picker {
    // border : 1px solid red;
    display: inline-block;

    .dy-date-content {
        position   : absolute;
        z-index    : 10;
        user-select: none;
        width      : 280px;
        background : #ffffff;
        box-shadow : 1px 1px 2px $primary, -1px -1px 2px $primary;

        .dy-date-picker-header {
            height         : 40px;
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            span {
                b {
                    cursor: pointer;
                }
            }

            .dy-icon {
                cursor: pointer;
            }
        }

        .cell {
            width      : 40px;
            height     : 40px;
            line-height: 40px;
            display    : inline-block;
            text-align : center;
            color      : #606266;
            cursor     : pointer;
        }

        .cell-year {
            width      : 70px;
            height     : 70px;
            line-height: 70px;
        }

        .isNotCurrentMonth {
            color: #c0c4cc;
        }

        .cell-dates:hover:not(.isNotCurrentMonth):not(.isSelect) {
            color: $primary;
        }

        .isToday {
            color      : $primary;
            font-weight: 700;
            background : #ffffff;
        }

        .isYear {
            color      : $primary;
            font-weight: 700;
            background : #ffffff;
        }

        .isMonth {
            color      : $primary;
            font-weight: 700;
            background : #ffffff;
        }

        .isSelect {
            color        : #ffffff;
            background   : $primary;
            border-radius: 50%;
        }

    }
}